body {
    padding: 0;
}

/* N A V B A R  */
.navbar-brand {
    text-align: center;
    margin-right: 0;
}

/* T I M E R  */
.timer {
    position: fixed;
    top: 60px;
    left: 48%;
    height: 80px;
    max-width: 100px;
    padding: 10px;
    font-size: 26px;
    color: #5b5b5b;
    margin: 0 auto;
    text-align: center;
}

/* F O O T E R  */
.footer-content {
    color: #444;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.fixed-footer {
    position: absolute;
    width: 100%;
    max-height: 60px;
    bottom: 0;
    left: 0;
}

.center-footer {
    margin: 0 auto;
    width: 50%;
}

/* W E L C O M E   P A G E  */
#welcome-page {
    font-size: 26px;
    padding: 10px;
    color: #5b5b5b;
    margin-top: 100px;
    text-align: center;
}

#start-button {
    background-color: rgba(228, 228, 228, 0.73);    
    color: #5b5b5b;
    width: 100px;
    height: 60px;
    font-size: 26px;   
    margin-top: 20px;
}

/* Q U E S T I O N   P A G E */
.prompt {
    width: 100%;
    font-size: 26px;
    color: #5b5b5b;
    margin: 100px auto 50px;
    text-align: center;
}

.form-check {
    font-size: 28px;
    color: #5b5b5b;
    margin: 20px auto;
    text-align: center;
    display: block;
}

.enter {
    position: absolute;
    bottom: 200px;
    right: 46%;
    background-color: rgba(228, 228, 228, 0.73);    
    color: #5b5b5b;
    width: 100px;
    height: 60px;
    font-size: 26px;    
}

/* A N S W E R   P A G E  */
.answer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    margin: 0;    
    background-size: 100% 100%;
}

.fun-fact {
    position: absolute;
    top: 90px;
    right: 100px;
    font-size: 18px;

    padding: 10px;

    border-radius: .25rem;
    border: 1px solid transparent;
    border-color: #868e96;

    color: #5b5b5b;
    max-width: 20%;
    background-color: rgba(255, 255, 255, 0.73);    
}

.right-answer {
    position: absolute;
    top: 90px;
    left: 100px;
    font-size: 20px;

    padding: 10px;
    
    border-radius: .25rem;
    border: 1px solid transparent;
    border-color: #868e96;

    color: #5b5b5b;
    max-width: 45%;
    background-color: rgba(255, 255, 255, 0.73);     
}

.next {
    position: absolute;
    bottom: 50px;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.73);    
    color: #5b5b5b;
    width: 100px;
    height: 60px;
    font-size: 26px;    
}

/* T A L L Y   P A G E  */
#tally-page {
    font-size: 26px;
    padding: 10px;
    color: #5b5b5b;
    margin-top: 100px;
    text-align: center;
}

.restart {
    background-color: rgba(228, 228, 228, 0.73);    
    color: #5b5b5b;
    width: 100px;
    height: 60px;
    font-size: 26px;   
    margin-top: 25px;
}